.categories, .blog, .sets, .navigation, footer .container  {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
}
h1 {
  display: inline-block;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
  border-bottom: 5px solid #ff9900;
  margin-bottom: 60px;
}
button {
  border: none;
  cursor: pointer;
}
.more-text {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
  p {
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
    margin-right: 26px;
  }
  .arrow-right {
    display: inline-block;
    width: 78px;
    height: 40px;
    background: url("../../images/arrow-right.svg");
  }
}
