footer {
  background: #1e1e1e;
  padding: 0 75px;
  .container {
    display: grid;
    align-items: center;
    grid-template-columns: 0.1fr 0.01fr 0.23fr 0.01fr 0.2fr 0.01fr 0.2fr;
    hr {
      width: 4px;
      height: 110px;
      background: #ff9900;
      margin: 0 1vw;
    }
    li {
      list-style: none;
      text-decoration: none;
    }
    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    p {
      font-weight: 400;
      font-size: 0.7vw;
      line-height: 23px;
      color: #ff9900;
    }
    .logo {
      display: flex;
      align-items: center;
      p {
        margin: 0;
        font-weight: 500;
      }
      .footer-logo-icon {
        display: inline-block;
        width: 27px;
        height: 25px;
        background: url("../../images/footer-logo-icon.svg");
      }
    }
    .textcols {
      //width: 50%;
      display: flex;
      padding-top: 10px;
      flex-direction: column;
      justify-content: left;
      li {
        text-align: left;
      }
    }
  }
}
