@font-face {
  font-family: 'Geometria';
  src: local('Geometria Regular'), local('Geometria-Regular'),
  url('./fonts/Geometria-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Geometria';
  src: local('Geometria Bold'), local('Geometria-Bold'),
  url('./fonts/Geometria-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

$p-color: #3d3d3d;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Geometria", sans-serif;
}
body {
  p,
  button,
  h1,
  h2 {
    color: $p-color;
  }
}
